.btn {
  width: 133px;
  min-height: 37px;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  transition: 0.4s all;
  font-size: 18px;
  word-wrap: break-word;
  color: #FFF;
  background: var(--dark-green);



  &:hover {
    filter: contrast(1.5);
    cursor: pointer;
  }

  &--disabled {
    background: var(--light-purple);
    color: var(--black);
    border: 2px solid var(--black);
    opacity: 0.3;

    &:hover {
      cursor: not-allowed;
      filter: unset;
    }
  }
}
