@font-face {
  font-family: 'inter-light';
  src:
      url('../fonts/inter-light.woff') format('woff'),
      url('../fonts/inter-light.woff2') format('woff2'),
      url('../fonts/inter-light.eot') format('eot'),
      url('../fonts/inter-light.otf') format('otf'),
      url('../fonts/inter-light.ttf') format('ttf');
}

@font-face {
  font-family: 'inter';
  src:
      url('../fonts/inter.woff') format('woff'),
      url('../fonts/inter.woff2') format('woff2'),
      url('../fonts/inter.eot') format('eot'),
      url('../fonts/inter.otf') format('otf'),
      url('../fonts/inter.ttf') format('ttf');
}
