:root {
  --light-purple: #FF85BF;
  --dark-purple: #BF4982;
  --beige: #FFF7B8;
  --light-green: #54A6B3;
  --dark-green: #27555C;
  --invalid: #F59393;
  --white: #FFFFFF;
  --black: #222121;
  --gray: #fefefe;
}
