<div class="container-input">
  <label class="container-input__label">
    {{ label }}
  </label>

  <div class="container-input__btns flex-center">
    <button class="container-input__btn flex-center-center" [disabled]="!counter" (click)="subtract();">
      <div>-</div>
    </button>

    <div class="container-input__counter">
      <label class="container-input__counter-label flex-center-center"
        [ngClass]="{'container-input__counter-label--invalid': error}">
        {{ counter }}
      </label>
    </div>

    <button class="container-input__btn flex-center-center" (click)="add();">
      <div>+</div>
    </button>
  </div>
</div>
