* {
  font-weight: bold;
  border-radius: 4px;
}

.container-input {
  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__btns {
    .container-input__btn {
      width: 42px;
      height: 42px;
      font-size: 34px;
      border: none;
      cursor: pointer;
      transition: 0.2s all;
      border: 2px solid var(--dark-green);
      background: var(--dark-purple);
      color: var(--white);

      div {
        top: -2px;
        position: relative;
      }

      &:disabled {
        background: var(--disabled);
        opacity: 0.5;
        color: var(--black);
      }
    }
  }

  &__counter {
    top: 0;
    margin: 0 8px;
    color: #071723;
    vertical-align: top;

    .container-input__counter-label {
      font-size: 20px;
      padding: 0;
      transition: 0.2s all;
      width: 60px;
      height: 41px;
      text-align: center;
      -moz-appearance: textfield;
      border: 2px solid var(--dark-green);
      background: var(--white);

      &--invalid {
        background: var(--invalid);
      }
    }
  }
}
